<!-- Header Background Parallax Image -->
<div id="projects_bg">
  <div class="head-title">
    <h2>Gallery</h2>
  </div>
</div>
<!-- End Header Background Parallax Image -->

<div class="container padding-bottom padding-top">
  <div class="row">
    <!-- Portfolio Item (image and description) -->
    {{#each galleries}}
      <h3 style="margin-top: 0px; margin-bottom: 0px;" class="text-center">{{name}}</h3>
      <hr>
      <div data-lightbox="yes" class="grid-container cbp-l-grid-masonry cbp-caption-overlayBottom">
        <ul>
          {{#each images}}
          	<li style="border: 1px solid #eee;line-height: 195px;" class=" cbp-item cbp-l-grid-masonry-height2">
  	          <a class="cbp-caption cbp-lightbox" href="{{url}}">
  	            <div class="cbp-caption-defaultWrap">
  	              <img src="{{url}}" alt="">
  	            </div>
  	          </a>
  	        </li>
          {{/each}}
        </ul>
      </div>
		{{/each}}
  <!-- CUBE PORTFOLIO -->
  </div><!-- /row -->
</div><!-- /container -->
