<!-- Header Background Parallax Image -->
<div id="projects_bg">
  <div class="head-title">
    <h2>Gallery</h2>
  </div>
</div>
<!-- End Header Background Parallax Image -->

<div class="container padding-bottom padding-top">
  <div class="row">

    <!-- CUBE PORTFOLIO -->

    <!-- Portfolio Filter -->
    <div id="grid-container" data-lightbox="yes" class="cbp-l-grid-masonry cbp-caption-overlayBottom">
      <ul>
        <!-- Portfolio Item (image and description) -->
        {{#each galleries}}
        	<li class="cbp-item cbp-l-grid-masonry-height2">
	          <a class="cbp-caption cbp-lightbox" data-title="{{name}}" href="{{image.url}}">
	            <div class="cbp-caption-defaultWrap">
	              <img src="{{image.url}}" alt="">
	            </div>

	            <div class="cbp-caption-activeWrap">
	              <div class="cbp-l-caption-alignCenter">
	                <div class="cbp-l-caption-body">
	                  <div class="cbp-l-caption-title">{{name}}</div>
	                </div>
	              </div>
	            </div>
	          </a>
	        </li>

				{{/each}}
      </ul>
    </div>

    <!-- CUBE PORTFOLIO -->


  </div><!-- /row -->
</div><!-- /container -->
