<!-- Header Background Parallax Image -->
<div id="about_bg">
  <div class="head-title">
    <h2>About Us</h2>
  </div>
</div>
<!-- End Header Background Parallax Image -->

<!-- Site Wrapper -->
<div class="site-wrapper">

  <!-- Who We Are -->
  <div class="container who-we-are padding-bottom">
    <div class="row">
      <div class="col-md-8 about-caption">
        <div class="general-title">
          <h2>PROSAFE LIVING</h2>
          <div class="space-bottom-2x"></div>
        </div>
        <h5>
          Preserving the quality of life, dignity and independence, for anyone with aging in life or with a disability in both social housing and privately-owned homes is an important part of our business. We do this by adapting bathrooms, and means of access to make it easier for residents to stay in, and carry on enjoying, their homes, with adequate safety and freedom in independent living.
        </h5>
        <div class="space-bottom-2x"></div>
        <div class="general-title">
          <h2>OUR MISSION</h2>
          <div class="space-bottom-2x"></div>
        </div>
        <h5>
          Our mission is to create successful enduring partnerships with our clients, providing them with a service based on safety, quality and a desire to deliver a high quality, cost effective project on time and within budget.
        </h5>
        <div class="space-bottom-2x"></div>

      </div>
      <div class="col-md-4 text-center">
        <br>
        <h3>Founded in 2015</h3>
        <hr>
        <h3>500 Happy Customers</h3>
        <hr>
        <h3>100 Projects Completed</h3>
        <hr>
        <h3>Adding more interesting Products<br></h3>
        <hr>

      </div>

      <div class="col-md-12 text-center">
        <img src="/template_assets/img/main.jpg" />
      </div>
    </div>
  </div><!-- /container -->
  <!-- End Who We Are -->

</div><!-- /container -->
</div>
<!-- End Our Team -->

</div><!-- /site-wrapper -->
<!-- End Site Wrapper -->
