<!-- Header Background Parallax Image -->
<div id="about_bg">
  <div class="head-title">
    <h2>About Us</h2>
  </div>
</div>
<!-- End Header Background Parallax Image -->

<!-- Site Wrapper -->
<div class="site-wrapper">

  <!-- Who We Are -->
  <div class="container who-we-are padding-bottom">
    <div class="row">
      <div class="col-md-8 about-caption">
        <div class="general-title">
          <h2>PROSAFE LIVING</h2>
          <div class="space-bottom-2x"></div>
        </div>
        <h5>
          Preserving the quality of life, dignity and independence, for anyone with aging in life or with a disability in both social housing and privately-owned homes is an important part of our business. We do this by adapting bathrooms, and means of access to make it easier for residents to stay in, and carry on enjoying, their homes, with adequate safety and freedom in independent living.
        </h5>
        <div class="space-bottom-2x"></div>
        <div class="general-title">
          <h2>OUR MISSION</h2>
          <div class="space-bottom-2x"></div>
        </div>
        <h5>
          Our mission is to create successful enduring partnerships with our clients, providing them with a service based on safety, quality and a desire to deliver a high quality, cost effective project on time and within budget.
        </h5>
        <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>-->
        <div class="space-bottom-2x"></div>

      </div>
      <div class="col-md-4 text-center">
        <br>
        <h3>Founded in 2012</h3>
        <hr>
        <h3>2017 Happy Customers</h3>
        <hr>
        <h3>98 Completed Projects</h3>
        <hr>

      </div>
    </div>
  </div><!-- /container -->
  <!-- End Who We Are -->

  <!-- Our Office Slider
  <div class="bg-color padding-bottom padding-top-x2">
    <div class="container">
      <div class="general-title text-center">
        <h2>Our Office</h2>
        <div class="space-bottom-2x"></div>
      </div>
      <div id="owl-office" class="owl-carousel owl-theme">

        <div class="item">
          <img src="template_assets/img/about/office_1.jpg" alt="Specifie an alternate text for an image" >
        </div>
        <div class="item">
          <img src="template_assets/img/about/office_2.jpg" alt="Specifie an alternate text for an image" >
        </div>
        <div class="item">
          <img src="template_assets/img/about/office_3.jpg" alt="Specifie an alternate text for an image" >
        </div>

      </div>
    </div>
  </div>
  <!-- End Our Office Slider -->

  <!-- Our Team
  <div class="padding-top-x2 padding-bottom">
    <div class="container">
      <!-- Section General Title
      <div class="general-title text-center">
        <h2>Our Team</h2>
        <div class="space-bottom-2x"></div>
      </div>
      <div class="row">

        <!-- Team Item (name, information about, image, social icons) -
        <div class="col-sm-4 col-md-3">
          <div class="team-inner">
            <a href="#">
              <!-- Image -
              <img src="template_assets/img/about/team_2.jpg" class="img-circle" alt="Specifie an alternate text for an image" >
              <div class="team-caption">
                <!-- Social Icons
                <div class="t-social-holder">
                  <div class="team-social">
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-behance fa-stack-1x fa-inverse"></i></span></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="team-details text-center">
            <!-- Info -
            <h5>Director</h5>
            <!-- Name --
            <h3>Anup Singhal</h3>
            <!-- <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>-
          </div>
        </div>

        <!-- Team Item (name, information about, image, social icons)
        <div class="col-sm-4 col-md-3">
          <div class="team-inner">
            <a href="#">
              <!-- Image
              <img src="template_assets/img/about/team_1.jpg" class="img-circle" alt="Specifie an alternate text for an image" >
              <div class="team-caption">
                <!-- Social Icons
                <div class="t-social-holder">
                  <div class="team-social">
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-behance fa-stack-1x fa-inverse"></i></span></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="team-details text-center">
            <!-- Info
            <h5>Manager</h5>
            <!-- Name
            <h3>HARRY POTTER</h3>
            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>
          </div>
        </div>

        <!-- Team Item (name, information about, image, social icons)
        <div class="col-sm-4 col-md-3">
          <div class="team-inner">
            <a href="#">
              <!-- Image
              <img src="template_assets/img/about/team_4.jpg" class="img-circle" alt="Specifie an alternate text for an image" >
              <div class="team-caption">
                <!-- Social Icons
                <div class="t-social-holder">
                  <div class="team-social">
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-behance fa-stack-1x fa-inverse"></i></span></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="team-details text-center">
            <!-- Info
            <h5>Architect</h5>
            <!-- Name
            <h3>RON WESLEY</h3>
            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>
          </div>
        </div>

        <!-- Team Item (name, information about, image, social icons)
        <div class="col-sm-4 col-md-3">
          <div class="team-inner">
            <a href="#">
              <!-- Image
              <img src="template_assets/img/about/team_3.jpg" class="img-circle" alt="Specifie an alternate text for an image" >
              <div class="team-caption">
                <!-- Social Icons
                <div class="t-social-holder">
                  <div class="team-social">
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-behance fa-stack-1x fa-inverse"></i></span></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="team-details text-center">
            <!-- Info
            <h5>Designer</h5>
            <!-- Name
            <h3>GINNY WESLEY</h3>
            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>
          </div>
        </div>

      </div><!-- /row -->
    </div><!-- /container -->
  </div>
  <!-- End Our Team -->

</div><!-- /site-wrapper -->
<!-- End Site Wrapper -->

<!-- Call to Action -->
<div class="cta-section padding-top-x2 padding-bottom"  style="display:none"> <!--new change -->
  <div class="container text-center">
    <div class="cta-title">
      <h2>Want to work with us?</h2>
      <div class="space-bottom-2x"></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
        <div class="space-bottom-2x"></div>
        <a href="contact.html" class="btn gold-btn">Get In Touch</a>
      </div>
    </div>
  </div>
</div>
<!-- End Call to Action -->
