<section class="padding-top-x2 padding-bottom" id="blog">
  <div class="container">
    <!-- Section General Title -->
    <div class="general-title text-center">
      <h2>Featured categories</h2>
      <div class="space-bottom-2x"></div>
    </div>
    <div class="row">

      <div id="grid-container" class="cbp-l-grid-blog">
        <ul>
          <!-- Blog Item -->
          <li class="cbp-item ideas motion">
            <!-- <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage"> -->
            <!-- Blog Image -->
            <div class="defaultWrap">
              <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
            </div>
            <!-- <div class="cbp-l-caption-alignCenter">
            <div class="cbp-l-caption-body">
            <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-text">View Post</div>
          </div>
        </div>
      </div>
    </a> -->
    <!-- Blog Information -->
    <div class="text-center">
      <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
      <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
      <div class="cbp-l-grid-blog-split">|</div>
      <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
    </div>
    <!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
  </li>

  <!-- Blog Item -->
  <li class="cbp-item ideas motion">
    <!-- <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage"> -->
    <!-- Blog Image -->
    <div class="defaultWrap">
      <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
    </div>
    <!-- <div class="cbp-l-caption-alignCenter">
    <div class="cbp-l-caption-body">
    <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-text">View Post</div>
  </div>
</div>
</div> -->
<!-- </a> -->
<!-- Blog Information -->
<div class="text-center">
  <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
  <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
  <div class="cbp-l-grid-blog-split">|</div>
  <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
</div>
<!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
</li>

<!-- Blog Item -->
<li class="cbp-item ideas motion">
  <!-- <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage"> -->
  <!-- Blog Image -->
  <div class="defaultWrap">
    <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
  </div>
  <!-- <div class="cbp-l-caption-alignCenter">
  <div class="cbp-l-caption-body">
  <div class="cbp-caption-activeWrap">
  <div class="cbp-l-caption-text">View Post</div>
</div>
</div>
</div> -->
<!-- </a> -->
<!-- Blog Information -->
<div class="text-center">
  <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
  <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
  <div class="cbp-l-grid-blog-split">|</div>
  <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
</div>
<!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
</li>
<!-- Blog Item -->
<li class="cbp-item ideas motion">
  <!-- <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage"> -->
  <!-- Blog Image -->
  <div class="defaultWrap">
    <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
  </div>
  <!-- <div class="cbp-l-caption-alignCenter">
  <div class="cbp-l-caption-body">
  <div class="cbp-caption-activeWrap">
  <div class="cbp-l-caption-text">View Post</div>
</div>
</div>
</div> -->
<!-- </a> -->
<!-- Blog Information -->
<div class="text-center">
  <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
  <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
  <div class="cbp-l-grid-blog-split">|</div>
  <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
</div>
<!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
</li>

<!-- Blog Item -->
<li class="cbp-item ideas motion">
  <!-- <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage"> -->
  <!-- Blog Image -->
  <div class="defaultWrap">
    <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
  </div>
  <!-- <div class="cbp-l-caption-alignCenter">
  <div class="cbp-l-caption-body">
  <div class="cbp-caption-activeWrap">
  <div class="cbp-l-caption-text">View Post</div>
</div>
</div>
</div> -->
<!-- </a> -->
<!-- Blog Information -->
<div class="text-center">
  <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
  <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
  <div class="cbp-l-grid-blog-split">|</div>
  <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
</div>
<!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
</li>

</ul>
</div>

</div><!-- /row -->
</div><!-- /container -->
</section>
<!-- End From blog -->
