<div class=BannerImageContainer>
   <div class="tp-banner-container" id="home">
      <div class="tp-banner">

         <ul>

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="500" data-thumb="template_assets/img/slider-images/thumb1.jpg"  data-saveperformance="off"  data-title="Slide">

               <!-- MAIN IMAGE -->
               <div class:"sliderImg">
                  <img style="width:100%; height:700px" src="template_assets/img/slider-images/image1.jpg"  alt="fullslide1"  data-bgposition="left top" data-bgrepeat="no-repeat">
                  <head2><span> Inside every older person </br> is a younger person wondering what happened </span> </head2>
               </div>
               <!-- LAYERS -->

               <!-- LAYER NR. 1 -->
               <!-- <div class="tp-caption slider-text lfb ltt tp-resizeme text-center"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="-30"
               data-speed="600"
               data-start="800"
               data-easing="Power4.easeOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;"> We provide you with<br> innovative solutions for you loved ones.
            </div> -->

            <!-- LAYER NR. 2 -->
            <!-- <div class="tp-caption lfb ltt tp-resizeme"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="100"
            data-speed="600"
            data-start="900"
            data-easing="Power4.easeOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="500"
            data-endeasing="Power4.easeIn"
            style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"><a href="/products" class="btn gold-btn">Get In Touch</a>
         </div> -->

      </li>
      <!-- END SLIDE -->

      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="500" data-thumb="template_assets/img/slider-images/thumb2.jpg"  data-saveperformance="off"  data-title="Slide">

         <!-- MAIN IMAGE -->
         <div class:"sliderImg">
            <img style="width:100%; height:700px" src="template_assets/img/slider-images/image2.jpg"  alt="fullslide8"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <head2><span> Old age isn't so bad <br> when we consider the alternatives</span> </head2>
         </div>
         <!-- <img src="template_assets/img/slider-images/image2.jpg"  alt="fullslide8"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> -->
         <!-- END MAIN IMAGE -->

         <!-- LAYER NR. 1 -->
         <!-- <div class="tp-caption slider-text lfb ltt tp-resizeme text-center"
         data-x="center" data-hoffset="0"
         data-y="center" data-voffset="-30"
         data-speed="600"
         data-start="800"
         data-easing="Power4.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.01"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;"><!--A beautiful way to show<br>your projects-->


         <!-- LAYER NR. 2 -->
         <!-- <div class="tp-caption lfb ltt tp-resizeme"
         data-x="center" data-hoffset="0"
         data-y="center" data-voffset="100"
         data-speed="600"
         data-start="900"
         data-easing="Power4.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.01"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"><a href="/products" class="btn gold-btn">Get In Touch</a>
      </div> -->

   </li>
   <!-- END SLIDE  -->

   <!-- SLIDE  -->
   <li data-transition="fade" data-slotamount="5" data-masterspeed="500" data-thumb="template_assets/img/slider-images/thumb3.jpg"  data-saveperformance="off"  data-title="Slide">

      <!-- MAIN IMAGE -->
      <div class:"sliderImg">
         <img style="width:100%; height:700px" src="template_assets/img/slider-images/image3.jpg"  alt="fullslide8"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
      </div>
      <!-- END MAIN IMAGE -->

      <!-- LAYER NR. 1 -->
      <!-- <div class="tp-caption slider-text lfb ltt tp-resizeme text-center"
      data-x="center" data-hoffset="0"
      data-y="center" data-voffset="-30"
      data-speed="600"
      data-start="800"
      data-easing="Power4.easeOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.01"
      data-endelementdelay="0.1"
      data-endspeed="500"
      data-endeasing="Power4.easeIn"
      style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">For more creative products
   </div> -->

   <!-- LAYER NR. 2 -->
   <!-- <div class="tp-caption lfb ltt tp-resizeme"
   data-x="center" data-hoffset="0"
   data-y="center" data-voffset="100"
   data-speed="600"
   data-start="900"
   data-easing="Power4.easeOut"
   data-splitin="none"
   data-splitout="none"
   data-elementdelay="0.01"
   data-endelementdelay="0.1"
   data-endspeed="500"
   data-endeasing="Power4.easeIn"
   style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"><a href="/products" class="btn gold-btn">Get In Touch</a>
</div> -->

</li>
<!-- END SLIDE  -->

</ul>

</div>
</div>
</div>
<!-- End Slider -->

<!-- Site Wrapper -->
<div class="site-wrapper">

   <!-- Who We Are -->
   <div class="container padding-bottom">


      <div class="row">
         <div class="col-md-10 col-md-offset-1 about-caption text-center">
            <!-- Section General Title -->
            <div class="general-title">
               <h2>Who We Are</h2>
               <div class="space-bottom-2x"></div>
            </div>
            <p>We provide various friendly toilet products for disabled, handicapped persons, senior citizens & ageing parents that can easily be installed at your homes, hospitals, hotels, spas, universities, malls & public utility areas.
            </p>
            <div class="space-bottom-2x"></div>
         </div>
      </div>
      <!--<div class="row">
      <!-- Item --
      <div class="col-md-4 about-caption">
      <div class="col-sm-2">
      <i class="fa fa-html5 fa-2x"></i>
   </div>
   <div class="col-sm-10">
   <h3>Bootstrap 3.2</h3>
   <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
</div>
</div>

<!-- Item --
<div class="col-md-4 about-caption">
<div class="col-sm-2">
<i class="fa fa-desktop fa-2x"></i>
</div>
<div class="col-sm-10">
<h3>ULTRA RESPONSIVE LAYOUT</h3>
<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
</div>
</div>

<!-- Item --
<div class="col-md-4 about-caption">
<div class="col-sm-2">
<i class="fa fa-font fa-2x"></i>
</div>
<div class="col-sm-10">
<h3>GOOGLE FONTS</h3>
<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
</div>
</div>    -->

</div><!-- /row -->
</div><!-- /container -->
<!-- End Who We Are -->

<!-- Our Services -->
<div style="background-color: #f2f2f2; padding-top: 50px;">
   <div class="container padding-bottom padding-top-x1 text-center" id="services" >
      <div class="row">
         <div class="general-title">
            <h2>WHAT MORE DO WE STRIVE TO PROVIDE</h2>
            <div class="space-bottom-2x"></div>
         </div>
         <!-- Service Item (title, icon and description for your service) -->
         <div class="col-sm-4 col-md-4 service-box">
            <!-- Icon -->
            <i class="fa fa-check fa-3x"></i>

            <!-- Title and Description -->
            <div class="service-title">
               <h3>Quality Standards</h3>
            </div>
            <p>Prosafe’s experience in design support on existing layout saves space and allows a safer working environment.</p>
         </div>

         <!-- Service Item (title, icon and description for your service) -->
         <div class="col-sm-4 col-md-4 service-box service-box-l">
            <!-- Icon -->
            <i class="fa fa-clock-o fa-3x"></i>

            <!-- Title and Description -->
            <div class="service-title">
               <h3>Save Time</h3>
            </div>
            <p>Right equipment can save significant time in transferring, and safety to users as well as other family member’s piece of mind.</p>
         </div>

         <!-- Service Item (title, icon and description for your service) -->
         <div class="col-sm-4 col-md-4 service-box service-box-l">
            <!-- Icon -->
            <i class="fa fa-thumbs-up fa-3x"></i>

            <!-- Title and Description -->
            <div class="service-title">
               <h3>Enhanced Comfort</h3>
            </div>
            <p>Prosafe’s innovative product range combined with understanding our user’s needs, ensures the transfer is comfortable, safe and stable.</p>
         </div>

         <!-- Service Item (title, icon and description for your service) -->
         <div class="col-sm-4 col-md-4 service-box-none">
            <!-- Icon -->
            <i class="fa fa-cogs fa-3x"></i>

            <!-- Title and Description -->
            <div class="service-title">
               <h3>Optimize Space</h3>
            </div>
            <p>Prosafe’s experience in design support on existing layout saves space and allows a safer working environment.</p>
         </div>

         <!-- Service Item (title, icon and description for your service) -->
         <div class="col-sm-4 col-md-4 service-box-none service-box-l">
            <!-- Icon -->
            <i class="fa fa-heart fa-3x"></i>

            <!-- Title and Description -->
            <div class="service-title">
               <h3>Focus on Caring</h3>
            </div>
            <p>Prosafe’s transfer equipment enables the carer to fully concentrate on the user, ensuring the transfer, and care is easy, safe and streamlined.</p>
         </div>

         <!-- Service Item (title, icon and description for your service) -->
         <div class="col-sm-4 col-md-4 service-box-none service-box-l">
            <!-- Icon -->
            <i class="fa fa-book fa-3x"></i>

            <!-- Title and Description -->
            <div class="service-title">
               <h3>Prosafe’s  Knowledge & Experience</h3>
            </div>
            <p>For every situation handling for independent living or assisted living, Prosafe have the knowledge and experience in specifying the correct specialist equipment.</p>
         </div>

      </div><!-- /row -->
   </div><!-- /container -->
</div>
<!-- End Our Services -->


<!-- From Blog -->
<section class="padding-top-x2 padding-bottom" id="blog">
   <div class="container">
      <!-- Section General Title -->
      <div class="general-title text-center">
         <h2>Featured categories</h2>
         <div class="space-bottom-2x"></div>
      </div>
      <div class="row">

         <div id="grid-container" class="cbp-l-grid-blog">
            <ul>
               <!-- Blog Item -->
               <li class="cbp-item ideas motion">
                  <!-- <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage"> -->
                  <!-- Blog Image -->
                  <div class="defaultWrap">
                     <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
                  </div>
                  <!-- <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                  <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-text">View Post</div>
               </div>
            </div>
         </div>
      </a> -->
      <!-- Blog Information -->
      <div class="text-center">
         <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
         <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
         <div class="cbp-l-grid-blog-split">|</div>
         <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
      </div>
      <!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
   </li>

   <!-- Blog Item -->
   <li class="cbp-item ideas motion">
      <!-- <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage"> -->
      <!-- Blog Image -->
      <div class="defaultWrap">
         <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
      </div>
      <!-- <div class="cbp-l-caption-alignCenter">
      <div class="cbp-l-caption-body">
      <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-text">View Post</div>
   </div>
</div>
</div> -->
<!-- </a> -->
<!-- Blog Information -->
<div class="text-center">
   <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
   <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
   <div class="cbp-l-grid-blog-split">|</div>
   <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
</div>
<!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
</li>

<!-- Blog Item -->
<li class="cbp-item ideas motion">
   <!-- <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage"> -->
   <!-- Blog Image -->
   <div class="defaultWrap">
      <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
   </div>
   <!-- <div class="cbp-l-caption-alignCenter">
   <div class="cbp-l-caption-body">
   <div class="cbp-caption-activeWrap">
   <div class="cbp-l-caption-text">View Post</div>
</div>
</div>
</div> -->
<!-- </a> -->
<!-- Blog Information -->
<div class="text-center">
   <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
   <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
   <div class="cbp-l-grid-blog-split">|</div>
   <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
</div>
<!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
</li>
<!-- Blog Item -->
<li class="cbp-item ideas motion">
   <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage">
      <!-- Blog Image -->
      <div class="defaultWrap">
         <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
      </div>
      <!-- <div class="cbp-l-caption-alignCenter">
      <div class="cbp-l-caption-body">
      <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-text">View Post</div>
   </div>
</div>
</div> -->
<!-- </a> -->
<!-- Blog Information -->
<div class="text-center">
   <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
   <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
   <div class="cbp-l-grid-blog-split">|</div>
   <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
</div>
<!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
</li>
<!-- Blog Item -->
<li class="cbp-item ideas motion">
   <!-- <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage"> -->
   <!-- Blog Image -->
   <div class="defaultWrap">
      <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
   </div>
   <!-- <div class="cbp-l-caption-alignCenter">
   <div class="cbp-l-caption-body">
   <div class="cbp-caption-activeWrap">
   <div class="cbp-l-caption-text">View Post</div>
</div>
</div>
</div> -->
<!-- </a> -->
<!-- Blog Information -->
<div class="text-center">
   <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
   <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
   <div class="cbp-l-grid-blog-split">|</div>
   <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
</div>
<!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
</li>

<!-- Blog Item -->
<li class="cbp-item ideas motion">
   <!-- <a href="blog-posts/post1.html" class="cbp-caption cbp-singlePage"> -->
   <!-- Blog Image -->
   <div class="defaultWrap">
      <img src="template_assets/img/blog/blog_1.jpg" alt="Specifie an alternate text for an image">
   </div>
   <!-- <div class="cbp-l-caption-alignCenter">
   <div class="cbp-l-caption-body">
   <div class="cbp-caption-activeWrap">
   <div class="cbp-l-caption-text">View Post</div>
</div>
</div>
</div> -->
<!-- </a> -->
<!-- Blog Information -->
<div class="text-center">
   <a href="blog-posts/post1.html" class="cbp-l-grid-blog-title cbp-singlePage">Featured Category Title</a>
   <!-- <div class="cbp-l-grid-blog-date">20 december 2013</div>
   <div class="cbp-l-grid-blog-split">|</div>
   <a href="#" class="cbp-l-grid-blog-comments">12 comments</a> -->
</div>
<!-- <div class="cbp-l-grid-blog-desc">Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat magna aliquam erat volutpat.</div> -->
</li>

</ul>
</div>

</div><!-- /row -->
</div><!-- /container -->
</section>
<!-- End From blog -->

<!-- Our Clients -->
<div id="our-clients">
   <div class="padding-top-x2 padding-bottom container text-center">
      <!-- Section General Title -->
      <div class="general-title">
         <h2>Our Clients</h2>
         <div class="space-bottom-2x"></div>
      </div>
      <div class="row">

         <div id="owl-demo">
            <a href="#"><img src="tempate_assets/img/about/client_1.png" alt="Owl Image"></a>
            <a href="#"><img src="template_assets/img/about/client_2.png" alt="Owl Image"></a>
            <a href="#"><img src="template_assets/img/about/client_3.png" alt="Owl Image"></a>
            <a href="#"><img src="template_assets/img/about/client_4.png" alt="Owl Image"></a>
            <a href="#"><img src="template_assets/img/about/client_5.png" alt="Owl Image"></a>
            <a href="#"><img src="template_assets/img/about/client_6.png" alt="Owl Image"></a>
            <a href="#"><img src="template_assets/img/about/client_3.png" alt="Owl Image"></a>
            <a href="#"><img src="template_assets/img/about/client_4.png" alt="Owl Image"></a>
         </div>

      </div><!-- /row -->
   </div><!-- /container -->
</div>
<!-- End Our Clients -->

<!-- Testimonials -->
<div id="testimonials">
   <div class="container text-center padding-bottom padding-top-x2">
      <!-- Section General Title -->
      <div class="general-title">
         <h2>From Clients</h2>
         <div class="space-bottom-2x"></div>
      </div>
      <div class="row">
         <div id="owl-testimonials" class="owl-carousel owl-theme">

            <div class="item">
               <div class="col-md-8 col-md-offset-2 t-info">
                  <p>Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                  <b>- Hermione Granger</b>
               </div>
            </div>

            <div class="item">
               <div class="col-md-8 col-md-offset-2 t-info">
                  <p>Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                  <b>- Harry Potter</b>
               </div>
            </div>

            <div class="item">
               <div class="col-md-8 col-md-offset-2 t-info">
                  <p>Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                  <b>- Ginny Wesley</b>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>
<!-- End Testimonials -->


</div><!-- /site-wrapper -->
<!-- End Site Wrapper -->

<!-- Call to Action -->
<div class="cta-section padding-top-x2 padding-bottom" style="display: none"> <!--new change! -->
   <div class="container text-center">
      <div class="cta-title">
         <h2>Want to work with us?</h2>
         <div class="space-bottom-2x"></div>
      </div>
      <div class="row">
         <div class="col-md-6 col-md-offset-3">
            <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
            <div class="space-bottom-2x"></div>
            <a href="contact.html" class="btn gold-btn">Get In Touch</a>
         </div>
      </div>
   </div>
</div>
