<!-- Header Background Parallax Image -->
<div id="projects_bg">
    <div class="head-title">
        <h2>Prodct Details</h2>
    </div>
</div>
<!-- End Header Background Parallax Image -->

<!-- Product details -->
 <div class="container padding-bottom padding-top-x2">
    <div class="row">

      <div>
        <img src="{{data.product.image.url}}">
          <div>
            <h1> "{{data.product.title}}" </h1>
          </div>
          <div>
            <p> "{{data.product.details}}" </p>
          </div>
      </div>

    </div><!-- /row -->
</div><!-- /container -->
<!-- End Projects -->
