<!-- Header Background Parallax Image -->
<!-- <div id="projects_bg">
  <div class="head-title">
    <h2>Prodct Details</h2>
  </div>
</div> -->
<!-- End Header Background Parallax Image -->

<!-- Product details -->
<div class="container padding-bottom padding-top-x2">
  <div class="row">


    <img src="{{data.product.image.url}}" style="margin-top: 30px;width:30%;">
      <div class="general-title" style="float: right;width: 60%;margin-top: 35px;">
      <h2> {{data.product.title}} </h2>
      <br>
      <br>
      <h4> {{data.product.details}} </h4>
  </div>

</div><!-- /row -->
</div><!-- /container -->
<!-- End Projects -->
