extends ../layouts/auth

script(src='js/resetPassword.js')

block content
	h1.sr-only Reset Password
	.auth-box
		.auth-box-col
			include ../includes/auth-brand

		.auth-box-col
			form(method="post", action="/reset/#{user.resetHash}", id="resetPasswordForm" novalidate).auth-form
				input(type='hidden', name='resetHash', value='#{user.resetHash}')
				.form-group
					label(for='newPassword') New Password
					input(type='password', name='newPassword', id='newPassword').form-control
				.form-group
					label(for='password') Re-enter Password
					input(type='password', name='password', id='password').form-control

				button(type='submit').btn.btn-primary Change Password

block js
	script(src='/js/jquery/jquery-2.1.4.min.js')
	script(src='/js/resetPassword.js')